<%= form_for(@delivery) do |f| %>
  <% if @delivery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@delivery.errors.count, "error") %> prohibited this delivery from being saved:</h2>

      <ul>
      <% @delivery.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :delivery_mode %><br />
    <%= f.text_field :delivery_mode %>
  </div>
  <div class="field">
    <%= f.label :delivery_fee %><br />
    <%= f.text_field :delivery_fee %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
