<p id="notice"><%= notice %></p>

<p>
  <b>Contact firstname:</b>
  <%= @address.contact_firstname %>
</p>

<p>
  <b>Contact lastname:</b>
  <%= @address.contact_lastname %>
</p>

<p>
  <b>Address1:</b>
  <%= @address.address1 %>
</p>

<p>
  <b>Address2:</b>
  <%= @address.address2 %>
</p>

<p>
  <b>Zip code:</b>
  <%= @address.zip_code %>
</p>

<p>
  <b>State:</b>
  <%= @address.state %>
</p>

<p>
  <b>Country:</b>
  <%= @address.country %>
</p>

<p>
  <b>Phone:</b>
  <%= @address.phone %>
</p>

<p>
  <b>Instructions:</b>
  <%= @address.instructions %>
</p>


<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
