<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Description:</b>
  <%= @product.description %>
</p>

<p>
  <b>Quantity:</b>
  <%=@product.quantity %>
</p>

<p>
  <b>Price:</b>
  <%= @product.price %>
</p>
<p>
  <b>Category:</b>
  <%= @category.description %>
</p>
<p>
<%= image_tag @product.photo.url %>
<%= image_tag @product.photo.url(:medium) %>
<%= image_tag @product.photo.url(:thumb) %>
</p>

