<!DOCTYPE html>
<html>
<head>
  <title>TestApp</title>
  <%= stylesheet_link_tag "960gs/reset", "960gs/text", "960gs/forms", "960gs/960", "scaffold", "application" %>
  <%= stylesheet_link_tag 'formtastic', 'my_formtastic_changes' %>
  <link href='http://fonts.googleapis.com/css?family=Oswald&v1' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold&v1' rel='stylesheet' type='text/css'>

  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

  <header class="container_12">
    <div class="grid_3">
      <h1>
        <%= link_to "Mercerie", root_url%>
      </h1>
    </div>
    <div class="grid_3">
      <%= render :partial => 'layouts/navigation' %>
    </div>
    <div class="grid_6 al-right">
      <%= render :partial => 'layouts/session' %>
    </div>
  </header>

  <div class="page container_12">
    <div class="sidebar sidebar-left grid_3">
      <%= render :partial => 'categories/navigation'%>
    </div><!-- sidebar left end -->


    <div class="main-section grid_6">
      <%= yield %>
    </div><!-- main-section end -->


    <div class="sidebar sidebar-right grid_3">
      <%= render :partial => 'carts/small_cart' %>
    </div><!-- sidebar right end -->


  </div><!-- page end -->

  <div id="footer">
  <%= render :partial => 'layouts/footer' %>
  </div><!-- footer end -->
  
<hr>
<%#= debug @cart.cart_items %>

</body>
</html>
